
@{
    ViewBag.Title = "Confirmation";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="honeyfund" class="background-image">

    <div class="index-title-position">
        <hr />
        <h1 class="cover-heading text-center">RSVP</h1>
        <hr />
    </div>
    <div class="text-center">
        <h3>
            RSVP Received!  Thank you!
        </h3>
        <h4>You should receive a confirmation email shortly.</h4>
    </div>

</body>