
@{
    ViewBag.Title = "Error";
}

<body id="error" class="background-image">

    <div class="index-title-position col-lg-6 col-md-6 col-sm-6 pull-right">

        <h1 class="text-center">AGH! Oh no!</h1>
        <hr />
        <h1 class="text-center"><span class="glyphicon glyphicon-thumbs-down"></span>ERROR<span class="glyphicon glyphicon-thumbs-down"></span></h1>
        <hr />
        <h2 class="text-center">Let JJ Know... he'll know what to do.</h2> <h3 class="text-center">jjschmiel@gmail.com | (804) 304-7400</h3>
    </div>

</body>