@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Honey Fund";
}

<body id="honeyfund" class="background-image">

    <div class="index-title-position">
        <hr />
        <h1 class="cover-heading text-center">Honey Fund</h1>
        <hr />
    </div>
    <div class="text-center">
        <h3>
            Honey Fund info coming soon.
        </h3>
    </div>

</body>