@{
    ViewBag.Title = "Home";
}

<body>

    <div class="index-title-position col-lg-6 col-md-6 col-sm-6 index-desktop">

        <h1 class="text-left">JJ + Liz <br />Are Getting Married!</h1>
        <hr />
        <h1 class="text-center">October 6th, 2018 </h1> <h3 class="text-center">Richmond, VA</h3>
        <hr />
        <h1 class="text-right">VMFA</h1>
    </div>

    <div class="index-title-position col-lg-6 col-md-6 col-sm-6 index-mobile">

        <h1 class="text-left">JJ + Liz <br />Are Getting Married!</h1>
        <hr />
        <h4 class="text-center">October 6th, 2018 | Richmond | VMFA</h4>
    </div>

</body>