@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Our Story";
}

<body id="ourstory" class="background-image">

    <div class="index-title-position">
        <hr />
        <h1 class="cover-heading text-center">Our Story</h1>
        <hr />
    </div>
    <div class="LargeStory">
        <div class="col-md-6 col-sm-12"><img src="~/Assets/Images/JJAndLiz/garden.jpg" style="width:auto; height:320px" /></div>

        <div class="col-md-6 col-sm-12">
            It all began on a balmy Friday night in April 2012 in Richmond, VA. JJ decided to ride his bike from his Oregon Hill bachelor pad up to a local bar, Balliceaux. Little did he know that bike ride would be the beginning of on the most wonderful journey of his life! Jonathan wasn't meeting any friends at the bar, but he knew a lot of people around town and always ran in to someone that he knew when he was out and about. So he walked in to the bar and ordered a drink, then surveyed the crowd for a familiar face. He didn't have to wait long - soon his high school friend Kate Fraser-Orr stepped out of the crowd. She was excited to see him as they had lost touch over the years. They spent some time catching up, and JJ noticed an unfamiliar and very cute face next to Kate, her friend Liz Scott. Not only was Liz cute, she was also very nice and they started chatting. JJ showed Liz his awesomely nerdy LED watch, which Liz found extremely impressive and cool.
        </div>

        <div class="col-md-6 col-sm-12" style="padding-top:100px">
            JJ and Liz saw each other over the next few months at parties. Liz thought JJ was cute and mentioned it to Kate. Kate saw the match and told JJ that Liz was interested, so the next time he saw her he made his move. They went on a few dates after that and the rest is history!
        </div>

        <div class="col-md-6 col-sm-12"><img src="~/Assets/Images/JJAndLiz/cabin.jpg" style="width:auto; height:320px" /></div>


        <div class="col-md-6 col-sm-12"><img src="~/Assets/Images/JJAndLiz/southern.jpg" style="width:auto; height:320px" /></div>

        <div class="col-md-6 col-sm-12" style="padding-top:100px">
            JJ and Liz live in Richmond with their two cats, Baby Kitty and Squirt. They are so thankful for the support of their friends and family, and excited to share this next step in their journey together with everyone that they love.
        </div>
    </div>

    <div class="SmallStory">
        <div class="col-md-6 col-sm-12"><img src="~/Assets/Images/JJAndLiz/garden.jpg" style="width:100%; height:auto;" /></div>

        <div class="col-md-6 col-sm-12" style="padding-top:25px;padding-bottom:25px">
            It all began on a balmy Friday night in April 2012 in Richmond, VA. JJ decided to ride his bike from his Oregon Hill bachelor pad up to a local bar, Balliceaux. Little did he know that bike ride would be the beginning of on the most wonderful journey of his life! Jonathan wasn't meeting any friends at the bar, but he knew a lot of people around town and always ran in to someone that he knew when he was out and about. So he walked in to the bar and ordered a drink, then surveyed the crowd for a familiar face. He didn't have to wait long - soon his high school friend Kate Fraser-Orr stepped out of the crowd. She was excited to see him as they had lost touch over the years. They spent some time catching up, and JJ noticed an unfamiliar and very cute face next to Kate, her friend Liz Scott. Not only was Liz cute, she was also very nice and they started chatting. JJ showed Liz his awesomely nerdy LED watch, which Liz found extremely impressive and cool.
        </div>

        <div class="col-md-6 col-sm-12"><img src="~/Assets/Images/JJAndLiz/cabin.jpg" style="width:100%; height:auto;" /></div>

        <div class="col-md-6 col-sm-12" style="padding-top:25px;padding-bottom:25px">
            JJ and Liz saw each other over the next few months at parties. Liz thought JJ was cute and mentioned it to Kate. Kate saw the match and told JJ that Liz was interested, so the next time he saw her he made his move. They went on a few dates after that and the rest is history!
        </div>

        <div class="col-md-6 col-sm-12"><img src="~/Assets/Images/JJAndLiz/southern.jpg" style="width:100%; height:auto;"  /></div>

        <div class="col-md-6 col-sm-12" style="padding-top:25px;padding-bottom:25px">
            JJ and Liz live in Richmond with their two cats, Baby Kitty and Squirt. They are so thankful for the support of their friends and family, and excited to share this next step in their journey together with everyone that they love.
        </div>
    </div>

</body>