@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Where and When";
}

<body id="wherewhen" class="background-image">

    <div class="index-title-position">
        <hr />
        <h1 class="cover-heading text-center">Where and When</h1>
        <hr />
    </div>
    <div class="row text-center">
        <div class="col-md-5 wherewhen">
            <h1>Ceremony</h1>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Where</h3><a href="https://www.google.com/maps/place/1205+W+Franklin+St,+Richmond,+VA+23220/" style="color: white">
                        St. James's Episcopal Church<br />
                        1205 W Franklin St<br />
                        Richmond, VA 23220
                    </a>
                </div>
                <div class="col-sm-6">
                    <h3>When</h3>
                    October 6th, 2018<br />
                    5PM
                </div>
            </div>

            <div class="row">
                <img src="~/Assets/Images/stjames.jpg" style="width:auto; height: 340px; padding-top:10px;" />
            </div>
            <h3>Parking</h3>
            Guests can park in the St. James parking deck.  The deck is located a few houses past St. James and across the street.
            <div class="row">
                <a href="~/Assets/Images/StJamesParking.PNG"><img src="~/Assets/Images/StJamesParking.PNG" style="width:90%; height: 90%; padding-top:10px;" /></a>
            </div>

        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5 wherewhen">
            <h1>Reception</h1>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Where</h3>
                    <a href="https://www.google.com/maps/place/200+N+Boulevard,+Richmond,+VA+23220/" style="color: white">
                        Virginia Museum of Fine Arts<br />
                        200 N Boulevard<br />
                        Richmond, VA 23220
                    </a>
                </div>
                <div class="col-sm-6">
                    <h3>When</h3>
                    October 6th, 2018<br />
                    6PM - 10PM
                </div>
            </div>
            <div class="col-md-12">
                <img src="~/Assets/Images/VmfaEntrance.jpg" style="width:100%; height:auto; padding-top:10px;" />
            </div>

            <h3>Parking</h3>
            Guests can park in the VMFA parking lot.
            <div class="row">
                <a href="~/Assets/Images/VMFAParking.PNG"><img src="~/Assets/Images/VMFAParking.PNG" style="width:90%; height: 90%; padding-top:10px;" /></a>
            </div>
        </div>
    </div>

</body>